.product-list {
  margin: 2rem 10rem 1rem 10rem;
}
.hero {
  height: 350px;
  width: 100%;
  object-position: 0% 20%;
  object-fit: cover;
}

hr {
  color: grey;
}

h2 {
  color: #a52a2a;
  padding-left: 2rem;
  font-weight: 700;
}

h3 a {
  color: #a52a2a;
  text-decoration: none;
  font-weight: 700;
}

p:hover {
  cursor: pointer;
}

.price {
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > * {
  flex-basis: 30%;
}

.card {
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.butn {
  color: white;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
