<div class="container-fluid pt-1" style="background-color: #a52a2a;">
    <div class="row">
        <div class="col-6">
            <a>
                <h2 class="pt-1" [routerLink]="['/']"><fa-icon [icon]="faMobileAlt"></fa-icon>Phone Model Store&trade;</h2>
            </a>
        </div>
    
        <div class="col-6 pb-1 d-flex justify-content-end">
            <a [routerLink]="['/cart']" class="btn">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
                Checkout
            </a>
        </div>
    </div>
</div>