h2 {
  font-family: "Montserrat", sans-serif;
  color: #f2d8af;
  text-decoration: none;
  font-size: 1.5rem;
}

h2:hover {
  opacity: 0.7;
}

fa-icon {
  padding-right: 5px;
}

a {
  cursor: pointer;
  color: #a52a2a;
  border-color: #a52a2a;
  background-color: #f2d8af;
  margin: 1.6rem 1rem 1.8rem 0.1rem;
}
